#searchInput {

}

#searchButton {
    
}

#container {
}


#imageList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.deleteButton {
    background-color: red;
    font-weight: bold;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2px;
}
