#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quote {
  width: 50vw;
  min-height: 20vh;
  padding: 10px;
  border-radius: 10px;  
}

.quote h1 {
  text-align: left;
}

.quote p {
  text-align: right;
}

.buttonWrapper {
  display: flex;
  height: 5vh;
  justify-content: flex-end;
}
